<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aditech.docmo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme.noActionBar">
        <activity android:name=".deteksi.karbu.Karburator_Detect_Activity" />
        <activity android:name=".deteksi.injeksi.Injeksi_Detect_Activity" />
        <activity android:name=".deteksi.DetektifModeActivity" />
        <activity android:name=".deteksi.karbu.DetektifHasilKarbuActivity" />
        <activity android:name=".deteksi.injeksi.DetektifHasilInjeksiActivity" />
        <activity android:name=".home.DetailActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".onboarding.OnboardingOneActivity" />
        <activity android:name=".onboarding.OnboardingTwoActivity" />
        <activity android:name=".onboarding.OnboardingThreeActivity" />
        <activity android:name=".sign.signin.SignInActivity" />
        <activity android:name=".sign.signup.SignUpActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".sign.signup.SignUpPhotoscreenActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>